.about-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    color: white;
    height: 100vh;
    padding: 6%;
    animation: fadeIn 1s ease;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .about-page-wrapper h1 {
    font-size: 1.15em;
    margin-bottom: 20px;
  }
  
  .about-page-wrapper p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  