.home-page {
    // padding: 20px;
    color: white;
  }
  
  body {
    margin: 0;
    padding: 0;
    // overflow: hidden;
    position: relative;
  }
  
  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .company-card {
    // background-color: #292929;
    backdrop-filter: blur(9px);
    border: 0.5px solid #dddddd66;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    
    // opacity: 0.8;

    opacity: 0;
    animation: slideUp 1s ease forwards;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    &:nth-child(1) { animation-delay: 0.1s; }
    &:nth-child(2) { animation-delay: 0.2s; }
    &:nth-child(3) { animation-delay: 0.3s; }
    &:nth-child(4) { animation-delay: 0.4s; }
    &:nth-child(5) { animation-delay: 0.5s; }
    &:nth-child(6) { animation-delay: 0.6s; }
  }


  .company-card:hover {
    transform: scale(0.99);
    // background-color: #ffffff;
    backdrop-filter: blur(20px);
    // color: black;
    opacity: 1;
  }
  
  .company-card h2 {
    margin-top: 0;
  }
  
  .company-card p {
    margin: 10px 0;
  }
  
  .company-card ul {
    margin: 0;
    padding: 0;
  }
  
  .company-card li {
    list-style-type: none;
    margin-left: 20px;
  }
  
  .company-list {
    display: grid;
    margin-top: 5%;
    padding: 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  

  .line {
    background: linear-gradient(to right, rgba(33, 33, 33, 0.033), #ffffff46, rgba(33, 33, 33, 0.033)); // Gradient background
    opacity: 0.7;
    height: 3px;
    width: 100%;
  }

  .video-container {
    // position: relative;
    width: 100%;
    height: 100vh;
    z-index: -999;
}

.heading-box{
  display: flex;
  flex-direction: column;
  margin-top: 5% ;
  // backdrop-filter: blur(5px);

  opacity: 0;
  animation: fadeIn ease 0.5s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  @keyframes fadeIn {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}

.about-box{
  border: 1px solid #cccccc94;
  backdrop-filter: blur(9px);
  border-radius: 5px;
  padding: 40px;
  margin: 5%;
  width: 90%;
  font-size: 1.1rem;
  box-sizing: border-box;
}