.home-page-wrapper {
    // padding: 20px;
    color: white;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    // overflow-y: scroll;
    height: 100vh;
    // animation: fadeIn 1s ease;
  }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.top-section-wrapper{
  scroll-snap-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  // border: 2px solid red;
}
 
.about-wrapper{
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}
.trending-wrapper{
  scroll-snap-align: center;
  position: relative;
  background-color: rgb(15, 15, 15);
  // border: 2px solid orange;
  height: 150vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trending-carousel{
  height: 50%;
  width: 90%;
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-origin: center; /* Add this line */
  transition: all 0.5s ease;
  
  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
  }

  .full-screen-button { 
    position: absolute;
    top: 20px;
    left: 20px;
    width: 2%;
    height: 5%;
    z-index: 10000;
    cursor: pointer;
    color: #ffffff;
    background-color: #75d9fa;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;

    &:hover{
      transform: scale(1.1);
    }
  }
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
  outline: none;
  z-index: 1;
  transition: 0.1s all ease;
}

.carousel-button.left {
  left: 1%;
}

.carousel-button.right {
  right: 1%;
}

.carousel-button:hover {
  color: #ffffff;
  background-color: #75d9fa;
}

  body {
    margin: 0;
    padding: 0;
    // overflow: hidden;
    position: relative;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .company-card {
    // background-color: #292929;
    scroll-snap-align: center;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    text-wrap: wrap;
    flex-shrink: 0;
    border: 0.5px solid #dddddd66;
    border-radius: 8px;
    padding-top: 20px;
    transition: all 0.3s ease;
    
    // opacity: 0.8;

    // opacity: 0;
    // animation: slideUp 1s ease forwards;
    // animation-fill-mode: forwards;
    // animation-iteration-count: 1;

    // &:nth-child(1) { animation-delay: 0.1s; }
    // &:nth-child(2) { animation-delay: 0.2s; }
    // &:nth-child(3) { animation-delay: 0.3s; }
    // &:nth-child(4) { animation-delay: 0.4s; }
    // &:nth-child(5) { animation-delay: 0.5s; }
    // &:nth-child(6) { animation-delay: 0.6s; }
  }

  .company-card-content{
    // border: 1px solid #ccc;
    backdrop-filter: blur(9px);
    border-radius: 5px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 5%;
    height: 80%;
    width: 100%;
    box-sizing: border-box;

  }



  // .company-card:hover {
  //   transform: scale(0.99);
  //   // background-color: #ffffff;
  //   // color: black;
  //   opacity: 1;
  // }
  
  .company-card h2 {
    margin-top: 0;
  }
  
  .company-card p {
    margin: 10px 0;
  }
  
  .company-card ul {
    margin: 0;
    padding: 0;
  }
  
  .company-card li {
    list-style-type: none;
    margin-left: 20px;
  }
  
  // .company-list {
  //   display: grid;
  //   margin-top: 5%;
  //   padding: 25px;
  //   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  //   grid-gap: 20px;
  // }

  .company-list{
    height: 100%;
    width: 100%;
    // border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  

  .line {
    background: linear-gradient(to right, rgba(33, 33, 33, 0.033), #ffffff46, rgba(33, 33, 33, 0.033)); // Gradient background
    opacity: 0.7;
    height: 3px;
    width: 100%;
  }

  .video-container {
    // position: relative;
    width: 100%;
    height: 100vh;
    z-index: -999;
  }

.darken-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1; 
}

.heading-box{
  // display: flex;
  // flex-direction: column;
  margin-bottom: 5%;
  margin-left: 5%;
  // backdrop-filter: blur(5px);
  opacity: 0;
  animation: fadeIn ease 0.5s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  @keyframes fadeIn {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}

.about-box{
  // border: 1px solid #42323294;
  backdrop-filter: blur(9px);
  border-radius: 5px;
  padding: 40px;
  margin: 5%;
  width: 90%;
  font-size: 1.1rem;
  box-sizing: border-box;
}